      h1{
        text-align:center;
        color:#228B22;
        font-size:55px;
        font-weight:bold;
        font-family:Arial Black;
      }
      h2{
        color:#000000;
      	font-weight:bold;
        font-family:Georgia;
      }
      a{
        padding-left:30px;
        font-size:15px;
      }
	  #Sidebar{
        width:20%;
        height:1000px;
        float:left;
        background-color:#d0f7ad;
      }
	  #body{
        width:80%;
        height:1000px;
        float:left;
        background-color:#f2faeb;
      }
      .p-1{
        text-align:center;
        line-height:50px;
        font-size:25px;
        color:#FFFFFF;
        font-weight:bold;
        font-family:monospace;
      }
      .p-2{
      	padding-left:30px;
        text-align:left;
        line-height:50px;
        font-size:25px;
        color:#696969;
        font-weight:bold;
        font-family:MS Sans Serif;
      }
